.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 2rem;
  min-height: 15rem;
  width: 80%;
  background-color: white;
  align-items: center;

  display: grid;
  grid-template-columns: 30% 70%;

  @include adaptar(768px) {

    width: 60rem;
    justify-content: center;
  }

  .contendor-descripcion {
    padding-left: 1rem;

    h2 {
      color: #515151;
      margin: 0;
      text-transform: uppercase;
    }

    h4 {
      margin: 0;
      color: #727272;
      text-transform: uppercase;
    }

    p {
      font-size: 12px;
      line-height: 20px;
      color: #727272;
      padding-top: 1rem;
      margin: 0;
    }


  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.precio-descuento {
  color: red;
}

.contenedor-busqueda {
  position: sticky;
  height: 10rem;
  width: 100%;
  top: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: solid #3c5068;;
  background-color: rgb(140, 152, 172);
}
.contenedor-input {
  display: flex;
  flex-direction: column;
  width: 75%;


  @include adaptar(768px) {
    width: 60rem;
    justify-content: center;
  }
  .input-buscar {
    width: 100%;
    height: 4rem;
  }
  .contenedor-filtrado{
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
  }
  
}

.button-scan {
  margin-left: 0.5rem;
  border: none;
  color: rgb(28, 66, 109);
  text-align: center;
  text-decoration: none;
  background-color: transparent;  
  overflow: hidden;
  outline: none;
}



.button-scan:hover {
  background-color: rgb(28, 66, 109);;
  color: #e7e7e7;
}

.button-scan:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-scan:focus {
  outline: none;
  border: 2px solid #4285f4;
}











